*{
  margin: 0;
  padding: 0;
}

body{
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8EEAF9;
}

#cover{
  width: 100%;
}

#cover-frame{
  width: 430px;
}